.service {
	padding-block: 0em;
	background: linear-gradient(
		180deg,
		rgba(233, 242, 244, 0.997),
		rgba(255, 255, 255, 0.993)
	);
	padding-block: 2em;
}
.service-title {
	text-align: center;
	padding-bottom: 2em;
}

.service-container > .card {
	box-shadow: 0px 2px 4px rgba(55, 55, 55, 0.08);
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
    padding-left: 1rem;
    cursor: pointer;
	padding-bottom: 1rem;
   
}
.card-icon {
	width: 20%;
	padding-top: 10px;
	margin-left: auto;
	font-size: var(--fs-h2);
	color: var(--clr-secondary);
}

.service-container > .card h4{
    font-size: var(--fs-h3);
    color: var(--clr-black-100);
}

.service-container > .card p{
    font-size: var(--fs-h4);
}


.service-container > .card >button{
    border: 0;
    background-color: transparent;
    font-size: var(--fs-h4);
    padding: 0;
    margin-top: 10px;
    font-weight: var(--fw-medium);
    color: var(--clr-black-900);
}


.service-container > .card >button:hover{
    color: var(--clr-black-100);
}

@media(max-width:600px){
	
.service-container > .card{
	width: 100%;
	margin-bottom: 10px;
}
}