footer{
    background-color: #E9EEF7;
    
}
.footer-colum{
    padding: 2em 0;
}


.col-1{
    width: 25%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.col-1>p{
    margin: 0;
    padding: .5em 0;
    line-height: 100%;
    font-size: var(--fs-h4);

}

.social-icon{
    color: var(--clr-primary);
    margin: 0 3px;
}
.col-1>small{
    font-size: var(--fs-h6);
}
.col-2,.col-3{
    width: 20%;
   

}
.col-2 ul,.col-3 ul{
    padding: 0;
    margin: 0;
}

.footer-item{
    font-size: var(--fs-h4);
}

.col-4{
    width: 30%;
}
.col-4 ul{
    margin: 0;padding: 0;
}
.col-4 ul li>span{
    color: var(--clr-primary);
    padding-right: 5px;
}

@media (max-width:600px) {

    footer>.container{
        justify-content: center;
        align-items: flex-start;
    }
  .footer-colum{width: 48%;
    padding: 0.5em 0;
}

}